

body{
  color: red;
}

.font-size {
  font-size: calc(10px + (100 - 10) * rand());
}

.font-family {
  font-family: 'Arial', 'Helvetica', sans-serif;
}

h1 {
  color: rgb(rand()*255, rand()*255, rand()*255);
}

.background-color {
  background-color: rgb(rand()*255, rand()*255, rand()*255);
}